# relations processing
this notebook processes an excel export that lists relationships between prints.  
One output is a csv with record_ids and a list of their related record_ids

## To Do

[ ] preview some example related images  
[ ] visualise connected works  
[ ] decide which relationship types should be used to create a test set

In [1]:
import pandas as pd
import numpy as np
import sys

sys.path.append('../src')

In [2]:
!conda install openpyxl -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/mengqi/miniconda3

  added / updated specs:
    - openpyxl


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.10.3               |   py39h06a4308_0         2.9 MB
    et_xmlfile-1.1.0           |   py39h06a4308_0          10 KB
    jdcal-1.4.1                |             py_0          11 KB
    openpyxl-3.0.7             |     pyhd3eb1b0_0         159 KB
    ------------------------------------------------------------
                                           Total:         3.0 MB

The following NEW packages will be INSTALLED:

  et_xmlfile         pkgs/main/linux-64::et_xmlfile-1.1.0-py39h06a4308_0
  jdcal              pkgs/main/noarch::jdcal-1.4.1-py_0
  openpyxl           pkgs/main/noarch::openpyxl-3.0.7-pyhd3eb1b0_0

The following packages will be UPDATED:

  ca-certificates    anaconda::ca-certificates-2020.10.14-0 --> pkgs/main::ca-certificates-2021.7.5-h06a4308_1

The following packages will be SUPERSEDED by a higher-priority channel:

  conda              conda-forge::conda-4.10.3-py39hf3d152~ --> pkgs/main::conda-4.10.3-py39h06a4308_0
  openssl            conda-forge::openssl-1.1.1k-h7f98852_1 --> pkgs/main::openssl-1.1.1k-h27cfd23_0



Downloading and Extracting Packages
et_xmlfile-1.1.0     | 10 KB     | ##################################### | 100%
openpyxl-3.0.7       | 159 KB    | ##################################### | 100%
conda-4.10.3         | 2.9 MB    | ##################################### | 100%
jdcal-1.4.1          | 11 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [4]:
fpath = "../data/raw/ethz/imageSearch_relations.xlsx"
df = pd.read_excel(fpath)
df.head()

,recordID,imageURL,invNr,person,date,title,classification,matTec,institutionIsil,recordURL,imageLicence,relations,timestamp
0,22890,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,D 001368.34,"Dürer, Albrecht (1471 - 1528), Künstler",Enstehung des Druckträgers: Um 1510,"Ungläubiger Thomas, Blatt 34 der Folge ""Kleine...",Druckgraphik,Holzschnitt,Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Teil von, D 001368.1-37",2020-06-25T21:50:14.473Z
1,294531,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,D 027604,"Webre [?], François, Künstler",Enstehung des Druckträgers: Um 1700 - 1800,Blatt 7 und 8 einer Folge von Darstellungen kl...,Druckgraphik,"Kupferstich, Radierung, Papier vergé",Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Gleiche Folge/Serie etc., D 027607",2021-02-19T11:12:44.66Z
2,59785,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,B 001012,"Ammann, Hans Conrad (1634 - 1707), Künstler",Entstehung: 1645,Reissbüchlein,Buch,"Feder, handkoloriert, Papier vergé",Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,Seite aus [Buch/Heft],2020-06-26T01:42:19.66Z
3,8041,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,D 010011.3,"Carracci, Agostino (1557 - 1602); Castello, Be...",Enstehung des Druckträgers: 1590,Plünderungszug bringt die Waffen und die blutg...,Druckgraphik,Kupferstich,Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Enthält, D 010011.1-9",2020-06-25T19:32:52.64Z
4,101503,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,2013.0279,"Ramberg, Johann Heinrich (1763 - 1840), Künstler",Enstehung des Druckträgers: 1825,Ohne Titel [Paar vor Herberge],Handzeichnung,"Aquarell, dubliert, Feder",Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Original zu Vorlage, 2013.0278",2020-06-26T02:08:02.933Z

In [5]:
df.head()

,recordID,imageURL,invNr,person,date,title,classification,matTec,institutionIsil,recordURL,imageLicence,relations,timestamp
0,22890,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,D 001368.34,"Dürer, Albrecht (1471 - 1528), Künstler",Enstehung des Druckträgers: Um 1510,"Ungläubiger Thomas, Blatt 34 der Folge ""Kleine...",Druckgraphik,Holzschnitt,Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Teil von, D 001368.1-37",2020-06-25T21:50:14.473Z
1,294531,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,D 027604,"Webre [?], François, Künstler",Enstehung des Druckträgers: Um 1700 - 1800,Blatt 7 und 8 einer Folge von Darstellungen kl...,Druckgraphik,"Kupferstich, Radierung, Papier vergé",Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Gleiche Folge/Serie etc., D 027607",2021-02-19T11:12:44.66Z
2,59785,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,B 001012,"Ammann, Hans Conrad (1634 - 1707), Künstler",Entstehung: 1645,Reissbüchlein,Buch,"Feder, handkoloriert, Papier vergé",Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,Seite aus [Buch/Heft],2020-06-26T01:42:19.66Z
3,8041,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,D 010011.3,"Carracci, Agostino (1557 - 1602); Castello, Be...",Enstehung des Druckträgers: 1590,Plünderungszug bringt die Waffen und die blutg...,Druckgraphik,Kupferstich,Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Enthält, D 010011.1-9",2020-06-25T19:32:52.64Z
4,101503,https://e-gs.ethz.ch/eMP/eMuseumPlus?service=I...,2013.0279,"Ramberg, Johann Heinrich (1763 - 1840), Künstler",Enstehung des Druckträgers: 1825,Ohne Titel [Paar vor Herberge],Handzeichnung,"Aquarell, dubliert, Feder",Graphische Sammlung ETH Zürich (CH-000511-9),https://e-gs.ethz.ch/eMP/eMuseumPlus?service=E...,Public Domain Mark 1.0,"Original zu Vorlage, 2013.0278",2020-06-26T02:08:02.933Z

In [6]:
orig_shape = df.shape
orig_shape

(24289, 13)

In [7]:
df = df.dropna(subset=['relations'])

In [8]:
ser_rel = df['relations'].dropna()
# ser_rel = ser_rel[:20]
ser_rel = ser_rel.str.split(";")


relations_list = []
for i, row in ser_rel.iteritems():

    row_relations = [(i,) + tuple(el.split(',', maxsplit=1)) for el in row]
    relations_list.extend(row_relations)


df_rel = pd.DataFrame(data=relations_list, columns=['recordID','relation_type','relation_invNr'])
df_rel['relation_type'] = df_rel['relation_type'].str.strip()
df_rel['relation_invNr'] = df_rel['relation_invNr'].str.strip()

In [9]:
df_rel

       recordID             relation_type relation_invNr
0             0                  Teil von  D 001368.1-37
1             1  Gleiche Folge/Serie etc.       D 027607
2             2     Seite aus [Buch/Heft]           None
3             3                   Enthält   D 010011.1-9
4             4       Original zu Vorlage      2013.0278
...         ...                       ...            ...
14855     24285                  Teil von     D 006141.6
14856     24285                  Teil von     D 006141.3
14857     24285                  Teil von     D 006141.4
14858     24285                     Abzug   D 016989.1-7
14859     24288          Zustandsvariante       D 009589

[14860 rows x 3 columns]

In [10]:
record_id_dict = dict(zip(df['invNr'].to_list(), df['recordID'].to_list()))

In [11]:
# drop na relation_invNr
df_rel = df_rel.dropna(subset=['relation_invNr'])

In [12]:
df_rel.loc[:,'relation_record_id'] = df_rel['relation_invNr'].map(record_id_dict)
df_rel

/home/mengqi/miniconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

       recordID             relation_type relation_invNr  relation_record_id
0             0                  Teil von  D 001368.1-37             18759.0
1             1  Gleiche Folge/Serie etc.       D 027607            294534.0
3             3                   Enthält   D 010011.1-9              2956.0
4             4       Original zu Vorlage      2013.0278            101502.0
5             5                   Vorlage      2016.0127                 NaN
...         ...                       ...            ...                 ...
14855     24285                  Teil von     D 006141.6             28625.0
14856     24285                  Teil von     D 006141.3             29344.0
14857     24285                  Teil von     D 006141.4             29716.0
14858     24285                     Abzug   D 016989.1-7             33984.0
14859     24288          Zustandsvariante       D 009589              2855.0

[14427 rows x 4 columns]

In [13]:
# records with invNr that couldn't be mapped to a recordId
fltr = df_rel['relation_record_id'].isna()
df_rel.loc[fltr,:]

       recordID      relation_type    relation_invNr  relation_record_id
5             5            Vorlage         2016.0127                 NaN
25           20          Doublette          D 017436                 NaN
42           49            Enthält     D 000947.1-11                 NaN
46           55              Abzug          P 000001                 NaN
62           76  Original zu Kopie          D 001412                 NaN
...         ...                ...               ...                 ...
14737     24095           Teil von      D 012215.1-7                 NaN
14740     24120            Enthält      D 012214.1-8                 NaN
14782     24161            Enthält  D 013289-13326+D                 NaN
14783     24166            Enthält      D 012214.1-8                 NaN
14797     24197   Zustandsvariante         2016.0082                 NaN

[574 rows x 4 columns]

In [14]:
df_rel = df_rel.loc[~fltr,:].sort_values(by=['relation_type'])
df_rel['relation_record_id'] = df_rel['relation_record_id'].astype(int)

In [15]:
relation_types = list(df_rel['relation_type'].unique())
relation_types

['Abzug',
 'Abzug zu Druckplatte',
 'Druckplatte',
 'Dublette',
 'Enthält',
 'Entwurf zu',
 'Gleiche Folge/Serie etc.',
 'Kopie',
 'Original',
 'Original zu Kopie',
 'Original zu Probedruck',
 'Original zu Vorlage',
 'Probedruck',
 'Teil von',
 'Variante',
 'Zustandsvariante',
 'nach']

In [16]:
df_rel['relation_type'].value_counts()

Enthält                     4048
Abzug                       3267
Teil von                    3102
Zustandsvariante            1460
Original                    1018
Kopie                        344
Probedruck                   264
Original zu Kopie            204
Dublette                      82
Gleiche Folge/Serie etc.      28
Variante                      18
Abzug zu Druckplatte           4
Druckplatte                    4
nach                           4
Entwurf zu                     2
Original zu Probedruck         2
Original zu Vorlage            2
Name: relation_type, dtype: int64

In [17]:
# only use certain relationships (to be confirmed)
types_to_keep = ['Zustandvariane','Variante','Teil von','Kopie', 'Original zu Kopie', 'Probedruck']
fltr = df_rel['relation_type'].isin(types_to_keep)
df_rel = df_rel.loc[fltr, :]
df_rel

       recordID relation_type relation_invNr  relation_record_id
6081       8550         Kopie       D 022677              238620
11           10         Kopie      2014.0228               27215
9598      16267         Kopie       D 027509              289483
9597      16265         Kopie       D 027511              289485
8865      14832         Kopie       D 025865              248586
...         ...           ...            ...                 ...
10654     18187      Variante       D 028143              306487
10653     18185      Variante       D 028145              306489
11719     19633      Variante       D 028496              323506
11718     19632      Variante       D 028496              323506
11768     19713      Variante       D 028597              331499

[3932 rows x 4 columns]

In [18]:
# filter out duplicates
df_rel_ids = df_rel[['recordID','relation_record_id']].drop_duplicates()

In [27]:
df_rel[df_rel['recordID'] == 135484]#

      recordID relation_type relation_invNr  relation_record_id
6081      8550         Kopie       D 022677              238620

In [19]:

record_ids_sorted = df_rel_ids.groupby('recordID').count().sort_values(by='relation_record_id', ascending=False)
record_ids_sorted = record_ids_sorted.rename(columns={"relation_record_id":"related_records_count"})

In [20]:
record_ids_sorted

          related_records_count
recordID
5217                        100
7408                         55
5347                         38
2898                         36
16053                        32
...                         ...
8108                          1
8065                          1
8062                          1
7908                          1
12014                         1

[2346 rows x 1 columns]

In [21]:
related_records_list = []
for rec_id in record_ids_sorted.index:
    fltr = df_rel_ids['recordID'] == rec_id
    rec_lst = np.sort(df_rel_ids.loc[fltr,'relation_record_id'].values).tolist()
    related_records_list.append(rec_lst)

In [22]:
record_ids_sorted['related_records'] = related_records_list

In [23]:
record_ids_sorted

,related_records_count,related_records
recordID,,
5217,100,"[220500, 220501, 220502, 220503, 220504, 22050..."
7408,55,"[10980, 15688, 16046, 22539, 299518, 299522, 2..."
5347,38,"[20030, 20072, 20404, 20460, 20462, 20490, 206..."
2898,36,"[5641, 7473, 17408, 18879, 19558, 19562, 20707..."
16053,32,"[107, 156, 856, 912, 955, 956, 987, 1143, 1413..."
...,...,...
8108,1,[236836]
8065,1,[236785]
8062,1,[236788]
7908,1,[22592]
12014,1,[22079]

In [25]:
record_ids_sorted.to_csv('../data/interim/ethz/relation_ids.csv')